{% extends 'baseMap.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            <div class="row justify-content-md-center mt-5">
                <h1 class="h3 mb-3 font-weight-normal">Mot de Passe oublié ?</h1>
            </div>
            <div class="row justify-content-md-center mt-5">
                <div class="col-md-8">
                    <label for="inputEmail" class="sr-only">Votre adresse email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required
                           autofocus>
                </div>
            </div>
            <div class="row justify-content-md-center mt-5">
                <button class="btn btn-lg btn-primary" type="submit">
                    Envoyer l'email !
                </button>
            </div>

        </form>
    </div>
{% endblock %}
