{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/login/login.css"/>
{% endblock %}


{% block body %}

<div class="form-v5">

		<div class="form-v5-content">
			<form class="form-detail" action="#" method="post">

        {# TITRE #}
        <h2>Authentification</h2>

          {# EMAIL #}
				  <div class="form-row">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input-text form-control" placeholder="Email" required autofocus>
            {% if error %}
              {% if error.messageKey == 'Email incorrect.' %}


              <span class="alert alert-danger ">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
              {% endif %}

              {% endif %}
          </div>

          {# PASSWORD #}
          <div class="form-row">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control input-text" placeholder="Votre Mot de Passe" required>
					  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {% if error %}
            {% if error.messageKey == 'Mot de passe incorrect.' %}
              <span class="alert alert-danger ">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
              {% endif %}
              {% endif %}
          </div>

          {# ENVOYER #}
				  <div class="form-row-last">
				  	<input type="submit" name="register" class="register" value="Connexion">
				  </div>
			</form>
		</div>

</div>

{% endblock %}
