{% extends 'baseMap.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            <div class="row justify-content-md-center mt-5">
                <h1 class="h3 mb-3 font-weight-normal">Nouveau Mot de passe</h1>
            </div>
            <div class="row justify-content-md-center mt-5">
                <div class="col-md-8">
                    <label for="inputPassword" class="sr-only">Nouveau Mot de Passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="Nouveau Mot de passe" required>
                </div>
            </div>
            <div class="row justify-content-md-center mt-5">
                <div class="col-md-8">
                    <input type="hidden" name="token" value="{{ token }}">
                    <label for="inputConfirmPassword" class="sr-only">Confirmez votre nouveau Mot de Passe</label>
                    <input type="password" name="confirmPassword" id="inputConfirmPassword" class="form-control"
                           placeholder="Confirmer votre nouveau Mot de Passe" required>
                </div>
            </div>
            <div class="row justify-content-md-center mt-5">
                <button class="btn btn-lg btn-primary" type="submit">
                    Enregister
                </button>
            </div>
        </form>
    </div>
{% endblock %}
