{% extends 'base.html.twig' %}


{% block title %}BALISES{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />
    <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
{% endblock %}



{% block body %}
    <div id="map">
        <!-- Ici s'affichera la carte -->
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>

    <script>
    // On initialise la latitude et la longitude de Lyon (centre de la carte)
    let lat = 45.75;
    let lon = 4.85;
    let zoom = 14; // Zoom de la carte par défaut


    var geojsonFeature = {
    "type": "Feature",
    "properties": {
        "name": "Coors Field",
        "amenity": "Baseball Stadium",
        "popupContent": "This is where the Rockies play!"
    },
    "geometry": {
        "type": "Point",
        "coordinates": [4.8269599999999855, 45.7463]
    },
    "properties": {
      'marker-color': '#3bb2d0',
      'marker-size': 'large',
      'marker-symbol': 'rocket'
    }
};

    // Fonction d'initialisation de la carte
    //function initMap() {
        L.mapbox.accessToken = 'pk.eyJ1IjoiYmFsaXNlcyIsImEiOiJjandqZThmaXIwZzF5NDhvNWE0eWhxbThjIn0.L-XJu_ElG2aGqQx4ZijbIg';
        var map = L.mapbox.map('map')
            .setView([lat, lon], zoom)
            .addLayer(L.mapbox.styleLayer('mapbox://styles/balises/cjwkqf7kr2woy1cqtbxg92srx'))
        var myLayer = L.mapbox.featureLayer().setGeoJSON(geojsonFeature).addTo(map);
        mapGeo.scrollWheelZoom.disable();
    //}

    //window.onload = function(){
    // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
        //initMap();


    //};






    </script>


{% endblock %}

