<form method="post" action="{{ path('spectacle_delete', {'id': spectacle.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce spectacle ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ spectacle.id) }}">
    <button class="btn btn-secondary mb-2">Suppression</button>

</form>
