{% extends 'base.html.twig' %}

{% block title %}Edit Spectacle{% endblock %}

{% block body %}
    <h1>Edit Spectacle</h1>

    {{ include('spectacle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spectacle_index') }}">back to list</a>

    {{ include('spectacle/_delete_form.html.twig') }}
{% endblock %}
