{% extends 'base.html.twig' %}

{% block title %}Modification Spectacle{% endblock %}

{% block body %}
    <h1>Modification Spectacle</h1>
    <div class="container">
        <a href="{{ path('showDate_by_Spectacle',{'id':spectacle.id}) }}">
            <button class="btn btn-secondary mb-5"> Gestion des Représentations </button> </a>
        {{ include('spectacle/_form.html.twig', {'button_label': 'Mise à Jour'}) }}

        <a href="{{ path('spectacle_index') }}"><button class="btn btn-secondary mb-5">Retour</button></a>
    </div>
    {{ include('spectacle/_delete_form.html.twig') }}
{% endblock %}
