
{% block body %}
    <div class = 'container'>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col-sm-6 " >Représentations</th>
                <th scope="col-sm-6 " >Action</th>
            </tr>
            </thead>
            <tbody>
            <div class="row">
            {% for showDate in showDates %}
                <tr>
                    <td>{{ showDate.dateShow ? showDate.dateShow|date('d-m-Y à H:i') : ''  }}</td>

                    <td>
                        <a type="button" class='btn btn-info btn-xs' href="{{ path('show_date_edit', {'id': showDate.id}) }}">
                            <i class="fas fa-edit"></i></a>
                        <a type="button" class="btn btn-danger" href="{{ path('show_date_delete', {'id': showDate
                            .id})}}"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>

            {% endfor %}
            </div>
            </tbody>
        </table>
    </div>
{% endblock %}
