{% extends 'basePage.html.twig' %}

{% block title %}Création Représentation{% endblock %}

{% block body %}
    <div class = 'container'>

        <h1>Création Représentation</h1>

       {{ include('show_date/_form.html.twig') }}

       {{ include('show_date/_showDateBySpectacle.html.twig') }}

    </div>
{% endblock %}


