{% extends is_granted('ROLE_ADMIN')
    ? 'base_admin.html.twig'
    : 'baseAdminTheater.html.twig' %}

{% block title %}Création Représentation{% endblock %}

{% block body %}
    <div class="card justify-content-left p-0 w-100">

        <h1>Création Représentation</h1>

       {{ include('show_date/_form.html.twig') }}

       {{ include('show_date/_showDateBySpectacle.html.twig') }}

    </div>
{% endblock %}


