.body_admin{

    background-color: rgb(241, 238, 238) !important;
}

/**********************LEFT  Menu********************************************/
.sidebar{ 
    width:220px;  
    background-color:#000;
    font-size: 20px;
    padding:0 15px;
}

.pull-left{
    padding:20px 0px;
}

.bg-defoult{
    background-color:#222;}

.sidebar ul{ 
    list-style:none; 
    margin:0px; 
    padding:0px; 
}

.sidebar li a,.sidebar li a.collapsed.active{ 
    display:block; 
    padding:8px 12px; 
    color:#fff;
    border-left:0px solid #dedede;  
    text-decoration:none}

.sidebar li a.active{
    background-color:#000;
    border-left:5px solid #dedede;
    transition: all 0.5s  ease-in-out
}

.list-sidebar li a:hover{
    background-color:rgb(175, 172, 172) !important;
    color:black;
}



.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.user-panel {
    clear: left;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 25px 15px;
    border-bottom: 1px solid;
}

/*************************TOP Bar*******************************************/
.list-sidebar{
  height:900px !important;
}

a.nav-link{

  color:white !important;
  font-weight:bold !important;
}
