$primary-color: #f76c6c;
$secondary-color: #f99797;
$warm-color: #ffd64f;

$baliseYellow : #FFEC02;
<<<<<<< HEAD
$black : #000000;
=======
$black : #000000;
$lightblack : lighten($black, 20);
>>>>>>> d2c33b120143080ba8a462b1c8d91db36646797e
