@import "vars";
@import "~bootstrap";
@import 'theater.scss';
@import 'theaterList.scss';

html {
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    //background-color: $baliseYellow;
    background-image: url('../../public/uploads/Balises_background.png');
    background-size: 100% ;
}

.container-fluid{
  height : 100%;
}



// remove the color and link behavior from the calendar and map buttons on homepage
.link-homepage{
    color: $black;
}

.link-homepage:hover{
    color: $lightblack;
}



// manage the map with title, logo, ...

#map

{
    z-index: 0;
    width:100%;
}

#selectplacetitle
{
    position: absolute;
    top: 60%;
    left: 7%;
    z-index: 1;
    color: black;
    font-size: 80px;

}


#selectplacetitle h1
{
    font-size: 80%;
    font-weight: bold;
}

#selectplacetitle span
{
    color: white;
    font-weight: bold;
}

#logoonmap
{
    position: absolute;
    bottom: 40px;
    right: 2px;
    z-index: 1;
    transform: scale(0.7, 0.7);
}



.popupCustom .leaflet-popup-tip
{
    display: none;
}

.popupCustom .leaflet-popup-content-wrapper {
    box-shadow : none;
    background: none;
    color: white;
    height: 800px;
    width: 800px;
}

.jumbotron
{
    padding: 2%;
}

.bulleInfo
{
    font-size: x-small;
    background: none;
    display: none;
    z-index: 2;
    position: fixed;
    bottom: -50%;


}

.bulleInfo1
{
    margin-top: 50%;
    background-color: grey;
    color: white;
}

.bulleInfo2
{

}

.bulleInfo3
{
    background-color: black;
    color: white;
    height: 250px;
    overflow: auto;
}

.bulleInfo4
{

}

.bulleInfo5
{

}

.bulleInfo6
{
    background-color: grey;
    color: white;
    height: 250px;
    overflow: auto;
    margin-top: -50%;
}

.bulleInfo1Photo
{
    max-width: 100%;
}

.jumbotron h1
{
    font-size: 20px;
}

.jumbotron p
{
    font-size: 15px;
}


