@import "vars";
@import "~bootstrap";

html {
    height: 100%;
    width: 100%;

}

body {
    height: 100%;
    width: 100%;

    background-color: #FFEC02;
}

.container-fluid{
    height: 100%;
}

// remove the color and link behavior from the calendar and map buttons on homepage
.link-homepage{
    text-decoration: none;
    color: black;
}



