@import "vars";
@import "~bootstrap";
@import "~datepicker/datepicker.min.scss";
// Carousel with Date https://jsfiddle.net/w3a97zyh/

#datePicker{
  background-color: transparent;
  border: none;
}

.bg-white{
  background-color: rgba(222,226,230, 0.9)
}

.fa-plus-circle:hover{
  color: yellow;
}

.fa-calendar-plus:hover{
  color: yellow;
}

.month-day {
  height: 100%;
  border-right: 1px solid white;
  background-color: $black;
  padding: 1.5em 0.5em;
  position: relative;
  text-align: center;
  color: $baliseYellow;
  font-family: "Cabin",sans-serif;
  text-transform: uppercase;
  line-height: 20px;
  transition: 0.12s;
  -moz-transition: 0.12s;
  -o-transition: 0.12s;
  -webkit-transition: 0.12s;
  -ms-transition: 0.12s;
  .week {
    font-size: 14px;
  }
  .day-month {
    font-weight: bold;
    font-size: 20px;
  }

  &:hover, &.active {
    background-color: #00aeef;
    color: #fff;
    cursor: pointer;
  }
}

.bx-wrapper {
  border: 0;
  box-shadow: none;
}

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  background-color: $black;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;

}
.bxslider {
  margin: 0;
  padding: 0;
  /*fix flickering when used background-image instead of <img> (on Chrome)*/
  -webkit-perspective: 1000;
}
ul.bxslider {
  list-style: none;
  height: 100%;
}
.bx-viewport {
  /* fix other elements on the page moving (in Chrome) */
  -webkit-transform: translateZ(0);
}
/** THEME
===================================*/
.bx-wrapper {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #fff;
  background: $black;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: $black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}