


#logoBalises
{
    position: absolute;
    bottom: 10px;
    right: 2px;
    z-index: 1;
    transform: scale(0.7, 0.7);
}

.theaterLogos
{
    -moz-box-shadow: 10px 10px 5px #656565;
    -webkit-box-shadow: 10px 10px 5px #656565;
    -o-box-shadow: 10px 10px 5px #656565;
    box-shadow: 10px 10px 5px #656565;
    border: 4px solid black;
}

#searchBar {
  width: 40vw;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
}

#theaterList {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.custom-link{
    text-decoration: none; 
    color: black;
}

.custom-link:hover{
    color: darkgrey;
}


#topBtn {
    display: none; 
    position: fixed; 
    bottom: 5vh; 
    right: 5vw; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: black; 
    color: #FFEC02; 
    cursor: pointer; 
    border-radius: 50%;
}

#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.sidenav {display: none;}