@import "vars";
@import "~bootstrap";


.hold::placeholder
{
  font-style: italic;
  color : darkred;

}

.zipCode
{
  width: 100px;
}
.phone
{
  width: 150px;
}

.base
{
  width: 100px;
}
.latitude
{
  width: 100px;
}
.longitude
{
  width: 100px;
}

.espSaisie
{
  padding-bottom: 10px;
}

.img_logo
{
  float: left;
  margin-right: 20px;
  width: 150px;
  height: 150px;

}

.img_picture
{
  float: left;
  margin-right: 20px;
  width: 250px;
  height: 250px;

}

.positionLogo
{
  padding-top: 20px;

}
