<form method="post" action="{{ path('param_delete', {'id': param.id}) }}" onsubmit="return  confirm('Etes-vous sûre de vouloir supprimer l\'enregistrement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ param.id) }}">
    <button class="btn btn-secondary mb-2">Suppression</button>
</form>
