{% extends 'basePage.html.twig' %}

{% block title %}New Param{% endblock %}

{% block body %}


    <div class="card card-edit-new w-100 container p-0">
        <div class="card-header d-flex w-100 justify-content-center">

            <h1>Création Coefficients</h1>
        </div>
        <div class="container">
            {{ include('param/_form.html.twig') }}
        </div>
        {#    <a href="{{ path('param_index') }}">Retour</a>#}
    </div>
</div>
{% endblock %}
