/****************************Liste des théâtres user/index.html.twig***********************/

.card {
    width:1200px  !important;
    margin:auto;
}

.card-header{
    top:69px;
    position:sticky;
    background-color: #F2F2F2;
}

thead{
    top:128px;
    position:sticky;
    background-color: white !important;
}

.th_action{
    min-width:230px !important;
}

.table-hover tbody tr:hover td {
    background-color: rgb(198, 218, 218);
}

.table_user_show{
    display:none;   
}

.table_user_show.active{
    display:block;    
}

th,td{
    vertical-align: middle !important;    
}



/****************************Détail d'un théâtre user/show.html.twig***********************/

.btn_show a{
    margin-right:10px !important;
}
.card_show{
    min-width: 500px !important;
}

.table_show tbody tr:hover td {
    background-color: rgb(198, 218, 218);
}

.table_show tbody tr:hover th {
    background-color: rgb(198, 218, 218);
}



