/****************************Card Table FindAll user/index.html.twig***********************/

.card {
    width:1200px  !important;
    margin:auto;
}

.card-header{
    top:69px;
    position:sticky;
    background-color: #F2F2F2;
}

thead{
    top:128px;
    position:sticky;
    background-color: white !important;
}

table{
    overflow-x: scroll;
}

.th_action{
    min-width:230px !important;

}


