<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Admin Balise</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
         

        <!-- Style Admin -->
        <link rel="stylesheet" href="/admin/admin_menu.css">
        <link rel="stylesheet" href="/admin/admin.css">


    </head>

    <body class="body_admin">
            <div class="wrapper">
<!-- MENU SIDEBAR -->
                    <nav id="sidebar">

                        <div class="sidebar-header">
                            <img class="mr-2" src="http://www.balises-theatres.com/img/Logo_balises_rond.png" alt="logo_admin" height=80 width=80>
                            <img class="img_admin" src="https://paradipport.gov.in/Admin/images/login.png" alt="logo_balises" height=70 width=70>

                            <a id="sidebarCollapse" href="#">
                                <i id="arrow" class="fas fa-chevron-left ml-3 " style="font-size:2rem;"></i>
                            </a>

                        </div>

                        <ul class="list-unstyled components navbar-primary-menu">
<!-- MENU DASHBOARD -->
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-fw fa-tachometer-alt"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>

<!-- MENU THEATRE -->
                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('user_index') }}">
                                    <i class="fas fa-home"></i>
                                    <span>Théâtre&nbsp;&nbsp; </span>
                                </a>
                            </li>

<!-- MENU SPECTACLE -->
                            <li class="nav-item ">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-film"></i>
                                    <span>Spectacles et Places</span>
                                </a>
                            </li>

<!-- MENU COEFFICIENT -->
                             <li class="nav-item ">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-tag"></i>
                                    <span>Coefficients</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
            
<!-- PAGE CONTENT -->
                    <div id="content">
<!-- NAVBAR TOP PRINCIPAL -->
                        <nav class="navbar navbar-expand-sm navbar-light bg-light m-0 p-0">
<!-- BOUTON COLLAPSE HAMBURGER ASIDE -->
                            <button class="btn btn-dark d-inline-block d-sm-none m-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-align-justify"></i>
                            </button>
                            <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
<!-- SEARCH -->
                                <form class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search w-100">
                                    <div class="input-group ">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>

<!-- DECONNEXION -->            <nav>
                                {% if app.user %}
                                    <a href="{{ path('app_logout') }}" class="nav-link text-right">
                                        <button type="button" id="deconnexion" class="btn btn-danger  my-sm-2 d-block w-sm-100">
                                            <span>Déconnexion</span>
                                        </button>
                                    </a>
                               {% endif %}
                                </nav>
                            </div> <!-- collapse navbar div   -->
                        </nav><!-- navbar navbar-expand-lg -->
 <!-- BLOCK BODY -->
                        <div class="container-fluid content_admin p-0">

                        {% block body %}
                        {% endblock %}
                            
                        </div><!-- fin content_admin -->
                    </div>
                </div>
            
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN --> #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/admin/admin_menu.js"></script>
                
    {% block javascripts %}

       
    {% endblock %}
    </body>
</html>
