<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="style_admin.css">
    </head>

<body class="body_admin">  
{#---------------------Menu en tete---------------------------#}  
<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">

        <a class="navbar-brand" href="">
            <img src="http://www.balises-theatres.com/img/Logo_balises_rond.png" width="50" height="50" alt="logo_balise">

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="" method="">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0 " type="submit">Search</button>
            </form>

            <form class="form-inline my-2 my-lg-0" action="" method="">
            <button class="btn btn-danger my-2 my-sm-0 ml-3 text-white" type="submit">Déconnexion</button>
            </form>

        </div>
        </nav>
    </header>


    {#---------------------Menu aside left---------------------------#}
<div class="row">
    <div class="main col-2">
    <aside>
        <div class="sidebar left ">
        <div class="user-panel">
            <div class="pull-left image text-center">
            <img src="http://download.seaicons.com/download/i69390/aha-soft/free-large-boss/aha-soft-free-large-boss-admin.ico" width="50" height="50" alt="User Image">
            <span class="font-weight-bold text-white m-auto">Administrateur</span>
            </div>
            
        </div>
        <ul class="list-sidebar bg-defoult">
            
            <li><a href="">Tableau de bord</a></li>
            <li><a href="">liste des théâtres</a></li>
            <li><a href="">Liste des spectacles et places</a></li>
            <li><a href="">Création/modification d'un théâtre</a></li>
            
        </ul>
        </div>
    </aside>
    </div>
</div>


    
    <div class="container-fluid col-10">

        {% block body %}{% endblock %}

    </div>
        {% block javascripts %}
                 {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
