
    <footer class="footer" id="footer">
        <nav id="footer2" class="navbar navbar-expand-lg navbar" style="visibility: hidden;">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="btn" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn" href="#">Qui sommes-nous ?</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn" href="#">Théatres</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn" href="#">Initiatives</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn" href="#">Mentions Légales</a>
                    </li>
                </ul>

            </div>
        </nav>
    </footer>

    <style>



        #footer2
        {

            background-color: black;
            border-radius: 10px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;

        }

        .btn
        {
            color: white;
        }

        ul {
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }



    </style>
