{% extends 'base.html.twig' %}


{% block body %}

    <div class="row justify-content-center h-100">
        <div class="col-md-2 m-auto">
            <i class="fas fa-map-marked fa-9x"></i>
        </div>
        <div class="col-md-2 m-auto">
            <i class="fas fa-calendar-alt fa-9x"></i>
        </div>
    </div>





{% endblock %}
