{% extends 'base.html.twig' %}


{% block body %}

    <div class="row">
        <div class="col-md-4">
            <i class="fas fa-map-marked fa-9x"></i>
        </div>
        <div class="col-md-4 offset-4">
            <i class="fas fa-calendar-alt fa-9x"></i>
        </div>
    </div>





{% endblock %}
