{% extends 'base.html.twig' %}


{% block body %}

    <div class="row h-100">
        <div class="col-md-2 offset-2 my-auto">
            <i class="fas fa-map-marked fa-9x"></i>
        </div>
        <div class="col-md-4 offset-4 my-auto">
            <i class="fas fa-calendar-alt fa-9x"></i>
        </div>
    </div>





{% endblock %}
