{% extends 'base.html.twig' %}


{% block body %}

    <style>
        .sidenav {
            display: none;
        }
    </style>


    <div class="row h-100 w-100 justify-content-between">

        <div class="col-1 m-auto w-100">
            <a class="link-homepage" href="{{ path('map2') }}"><i class="fas fa-map-marked fa-10x m-auto"></i></a>
        </div>

        <div class="col-1 m-auto">
            <img src="http://www.balises-theatres.com/img/Logo_balises_rond.png" alt="">
        </div>

        <div class="col-1 m-auto">
            <a class="link-homepage" href="{{ path('calendar_home') }}"><i class="fas fa-calendar-alt fa-10x"></i></a>
        </div>

    </div>

{% endblock %}

