{% extends 'base.html.twig' %}


{% block body %}

    <div class="row h-100 justify-content-center">
        <div class="col-lg-3 my-auto">
            <i class="fas fa-map-marked fa-10x"></i>
        </div>
        <div class="col-lg-3 my-auto">
            <img src="http://www.balises-theatres.com/img/Logo_balises_rond.png" alt="">
        </div>
        <div class="col-lg-3 my-auto">
            <i class="fas fa-calendar-alt fa-10x"></i>
        </div>
    </div>

{% endblock %}
