
<div class="sidenav">

    <a href="https://www.facebook.com/BalisestheatresLyon" target="_blank">
        <img src="https://image.flaticon.com/icons/svg/33/33702.svg" alt=""></a>
    <a data-toggle="modal" data-target="#contactModal"><img src="https://image.flaticon.com/icons/svg/59/59965.svg" alt=""></a>
    <a href="{{ path('home') }}"><img src="https://image.flaticon.com/icons/svg/14/14539.svg" style="max-height:
    30px" alt=""></a>

</div>
