

<div class="sidenav">

    <a href="https://www.instagram.com"><img src="https://image.flaticon.com/icons/svg/1051/1051313.svg" style="max-height: 30px"alt="">
    <a href="https://www.facebook.com"><img src="https://image.flaticon.com/icons/svg/33/33702.svg" style="max-height: 30px"alt="">
    <a href="https://www.twitter.com"><img src="https://image.flaticon.com/icons/svg/1051/1051331.svg" style="max-height: 30px"alt="">
    <a href="https://www.linkedin.com"><img src="https://image.flaticon.com/icons/svg/1051/1051333.svg" style="max-height: 30px"alt="">
    <a href="{{ path('home') }}"><img src="https://image.flaticon.com/icons/svg/14/14539.svg" style="max-height: 30px" alt="">

</div>

<style>

    .sidenav {
        width: auto;
        position: fixed;
        z-index: 1;
        top: 30%;
        background: #FFEC02;

        padding: 8px 0;
        border-style: solid;
        border-width: 1px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #2196F3;
        display: block;
        opacity: 0.5;
    }

    .sidenav a:hover {
        opacity: 1;
    }

</style>

