{% extends 'base_admin.html.twig' %}

{% block title %}Chart
{% endblock %}

{% block body %}

    <div class="card  container p-0 w-100 ">

        <div class="card-body p-0">

            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        </div>
        {# Card body #}
        <hr>
        <div class="option d-flex justify-content-around mb-2">
            <select  id="exampleFormControlSelect1 w-50">
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
            </select>        

            <label class="radio-inline">
                <input id="mois_radio" checked name="optradio" type="radio">Mois
            </label>
            <label class="radio-inline">
                <input id="trimestre_radio" name="optradio" type="radio">Trimestre
            </label>
            <label class="radio-inline">
                <input id="annee_radio"  name="optradio" type="radio">Année
            </label>
        </div>
    </div>
    {# Card #}

    <div id="mois" data-is-mois="{{ nbSpectacleMois }}"></div>
    <div id="annee" data-is-annee="{{ annee }}"></div>
    

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        // GRAPHIQUE NOMBRE DE SPECTACLES

        window.onload = function () {

            CanvasJS.addCultureInfo("fr", {
                months: 
                [
                    "Janvier","Février","Mars","Avril",
                    "Mai","Juin","Juillet","Aout",
                    "Septembre","Octobre","Novembre", "Décembre"
                ]
            });

            dataPoints = [];

            let annee= $('#annee').data("isAnnee");
            let nbSpectacleMois = $('#mois').data("isMois");
            let len = nbSpectacleMois.length;
            console.log("len");
            console.log(len);

            for (let i = 0; i < len; i++) {

            let nbSpectacle = parseInt(nbSpectacleMois[i].nbSpectacle);
            let mois = parseInt(nbSpectacleMois[i].mois);

            for (let j = 0; j < 12; j++) {            
                if ((j + 1) == mois) {
                    dataPoints.push({
                        x: new Date(2019, j),
                        y: nbSpectacle
                    });
                } else {
        dataPoints.push({
            x: new Date(2019, j),
            y: 0
        });
    }
            }  //fin for j mois             

            } //fin for i mois

            chartFonct("Nombre de spectacles",dataPoints);
            
/************************MOIS***************************/
     $('input[type=radio]').change(function(){
        if($('#mois_radio').is(':checked')){
            dataPoints = [];
            for (let i = 0; i < len; i++) {
                let nbSpectacle = parseInt(nbSpectacleMois[i].nbSpectacle);
                let mois = parseInt(nbSpectacleMois[i].mois);
                for (let j = 0; j < 12; j++) {
                    if ((j + 1) == mois) {
                        dataPoints.push({
                            x: new Date(2019, j),
                            y: nbSpectacle
                        });
                    } else {
                        dataPoints.push({
                            x: new Date(2019, j),
                            y: 0
                        });
                    }
                }  //fin for j mois
            } //fin for i mois
            chartFonct("Nombre de spectacles par mois",dataPoints);
        }// if mois_radio
 
/************************TRIMESTRE****************************/
        if($('#trimestre_radio').is(':checked')){
            let totaltrimestre1=0;
            let totaltrimestre2=0;
            let totaltrimestre3=0;
            let totaltrimestre4=0;
            dataPoints = [];

            for (let i = 0; i < len; i++) {

                if(nbSpectacleMois[i].mois<=3 && nbSpectacleMois[i].mois>=1){
                    totaltrimestre1+=nbSpectacleMois[i].nbSpectacle;
                }
            
                if(nbSpectacleMois[i].mois<=6 && nbSpectacleMois[i].mois>=4){
                    totaltrimestre2+=nbSpectacleMois[i].nbSpectacle;
                }

                if(nbSpectacleMois[i].mois<=9 && nbSpectacleMois[i].mois>=7){
                    totaltrimestre3+=parseInt(nbSpectacleMois[i].nbSpectacle);
                    
                }
            
                if(nbSpectacleMois[i].mois<=12 && nbSpectacleMois[i].mois>=10){
                    totaltrimestre4+=nbSpectacleMois[i].nbSpectacle;

                 }
            }//fin for i mois
            
            dataPoints.push({
                            x: new Date(2019, 1),
                            y: totaltrimestre1
                        });

                        dataPoints.push({
                            x: new Date(2019, 4),
                            y: totaltrimestre2
                        });

                        dataPoints.push({
                            x: new Date(2019, 7),
                            y: totaltrimestre3
                        });

                        dataPoints.push({
                            x: new Date(2019, 10),
                            y: totaltrimestre4
                        });

            chartFonct("Nombre de spectacles par trimestre",dataPoints);
        }// fin checked trimestre
    });//change radio

}

/*********************Fonction chart********************/
function chartFonct(titre,data2){

    let chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                culture: "fr",
                title: {
                    text: titre,
                    fontColor: "#2f4f4f",
                    fontSize: 20,
                    padding: 15,
                    margin: 15,
                    backgroundColor: "#FFFFE0",
                    borderThickness: 1,
                    cornerRadius: 5,
                    fontWeight: "bold"
                },
                axisX: {
                    valueFormatString: "MMMM",
                    labelAngle: -50
                },

                data: [{
                        type: "column",
                        dataPoints: data2
                    }
                ]
                
            });// chart = new CanvasJS.Chart
            chart.render();
            console.log(chart.options.title.text);
}

    
</script>
{% endblock %}