<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            height: 800px;
            background-image: url("https://cloud.felinn.org/apps/gallery/preview.public/549475?width=1600&height=1600&c=a3a946d7a0792becf03636351d2ab238&requesttoken=b3IQIvC2MFFKG1FqgSaY0tp7iy6ZqOCmn48U5W21DP8%3D%3AIEt4bpTaVwUaaDRazW3psaoR7Rjhm66N8OlBkA7ge88%3D&token=qgm7C2NnNqF8ozm");
            background-size: cover;
        }

        h1 {
            color: black;
            font-size: 2rem;
        }
        a {
            font-size: 1.5rem;
        }

        #background_opacity {
            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 236, 2, 0.70); /* L'opacite se regle ici */
        }
    </style>
</head>
<body>

<div class="container">
    <div id="background_opacity"></div>

        <div class="row justify-content-md-center">
            <h1>Changement du Mot de Passe pour votre compte théâtre</h1>
        </div>
        <br>
        <div class="row justify-content-md-center mt-3">
            <a href="{{ url }}">Lien</a>

    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
